@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;500;700&display=swap');

html,body,div,header,section,h1,h2,h3,p,img,button{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    padding: 25px;
    text-align: center;
    font-size: 18px;
    font-family: 'Chakra Petch', sans-serif;
}

#container{
    width: 305px;
    height: 242px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.coluna{
    display: flex;
    flex-direction: column-reverse;
    border: 4px solid black;
    border-right: none;
}

.coluna:last-child{
    border-right: 4px solid black;
}

.celula{
    width: 39px;
    height: 39px;
    margin: 0 auto;    
    border-bottom: 4px solid black;
}

.celula:first-child{
    border-bottom: none;
}


/* roberto */



.checker {
    width: 88px;
    height: 88px;
    border: 2px solid #d8cab3;
    border-radius: 100%;
    box-shadow: inset 0px 0px 15px 5px #fff;
}

.checkerUSA {
    background-image: url(../img/logoUSA.png);
    background-size: 88px;
}

.checkerURSS {
    background-image: url(../img/logoURSS.png);
    background-size: 88px;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-image: url(../img/background.png);    
}


/* roberto */
    



@media screen and (min-width: 750px){
    header{
        font-size: 24px;
    }

    #container{
        width: 662px;
        height: 548px;
    }

    .celula{
        width: 90px;
        height: 90px;
    }
}
