@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;500;700&display=swap');

:root{
    --color-white: #fff;
    --color-black: #000;
    --color-red: #9297d3;
    --color-gold: #ffd700;
    --positionUsaMobile: -250px;
    --positionUrssMobile: -250px;
    --positionUsaDesktop: -500px;
    --positionUrssDesktop: -500px;
}

html,body,div,header,section,h1,h2,h3,p,img,button{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-image: url(../img/background.png); 
    background-size: 100%;
}

/*Manoela*/
header{
    padding: 25px;
    text-align: center;
    font-size: 18px;
    font-family: 'Chakra Petch', sans-serif;
}

#container{
    width: 305px;
    height: 282px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    position: relative;
}

.coluna{
    width: 45px;
    height: 282px;
    display: flex;
    flex-direction: column-reverse;
    border: 4px solid #000000;
    border-radius: 6px;
    border: 4px solid var(--color-black);
    border-right: none;
    box-shadow: inset 0px 30px 5px 0px var(--color-red), 0 0 1.5em var(--color-gold);
}



.coluna:last-child{
    border-right: 4px solid var(--color-black);
}






/* roberto */

.checker {
    width: 38px;
    height: 38px;
    border: 2px solid #d8cab3;
    border-radius: 100%;
    box-shadow: inset 0px 0px 15px 2px #fff; 
    /* position: relative;
    animation-name: example;
    animation-duration: 2s;
    animation-direction: normal;   */
}      



.usa {
    background-image: url(../img/logoUSA.png);
    background-size: 38px;
    position: relative;
    animation-name: dropDownUsa;
    animation-duration: 1s;
    animation-direction: normal;
}

.urss {
    background-image: url(../img/logoURSS.png);
    background-size: 38px;
    position: relative;
    animation-name: dropDownUrss;
    animation-duration: 1s;
    animation-direction: normal;
}

@keyframes dropDownUsa {
    0% {top: var(--positionUsaMobile)}
    100% {top: 0px}
}

@keyframes dropDownUrss {
    0% {top: var(--positionUrssMobile)}
    100% {top: 0px}
}

p#proximo {
    font-size: 25px;
    font-weight: 700; 
    margin-top: 40px;
    /* padding: 30px; */
    display: inline-block;
}

div#nextPlayer {
    width: 90px;
    height: 90px; 
    float: right;      
}

div.flagUsa {
    background-image: url(/img/logoUSA.png);
    background-size: 90px;    ;
}

div.flagUrss {
    background-image: url(/img/logoURSS.png);
    background-size: 90px;
    border-radius: 100%;
}



/* roberto */
    



@media screen and (min-width: 769px){
    header{
        font-size: 24px;
    }

    #container{
        width: 662px;
        height: 638px;
    }

    .coluna{
        width: 96px;
        height: 638px;
        box-shadow: inset 0px 40px 5px 0px var(--color-red), 0 0 1.5em var(--color-gold);
    }

    /* roberto */

    .checker {
        width: 90px;
        height: 90px;
        border: 2px solid #d8cab3;
        border-radius: 100%;
        box-shadow: inset 0px 0px 15px 5px #fff;       
    }

    .usa , .urss{
        background-size: 90px;
    }

    @keyframes dropDownUsa {
        0% {top: var(--positionUsaDesktop)}
        100% {top: 0px}
    }
    
    @keyframes dropDownUrss {
        0% {top: var(--positionUrssDesktop)}
        100% {top: 0px}
    }

    /* roberto */

}
