@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;500;700&display=swap');

:root{
    --color-white: #fff;
    --color-black: #000;
    --color-red: #f00;
    --color-gold: #ffd700;
}

html,body,div,header,section,h1,h2,h3,p,img,button{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Manoela*/
header{
    padding: 25px;
    text-align: center;
    font-size: 18px;
    font-family: 'Chakra Petch', sans-serif;
}

#container{
    width: 305px;
    height: 242px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    position: relative;
}

.coluna{
    width: 45px;
    height: 242px;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 6px;
    border: 4px solid var(--color-black);
    border-right: none;
    box-shadow: inset 0 0 1em var(--color-red), 0 0 1.5em var(--color-gold);
}

.coluna:last-child{
    border-right: 4px solid var(--color-black);
}

.modalUSA{
    width: 280px;
    height: 180px;
    top: 50%;
    left: 50%;
    position:absolute;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background-image: url(/img/usa_win.gif);
    box-shadow: inset 1px 1px 1px 1em black, 1px 1px 2em red;
 }
  
 .modal__close{
    margin: 20px;
    float: right;
 }
  
 .modal__text{
    width: 242px;
    font-size: 15px;
    color: white;
    left: 20px;
    top: 78px;
    position: relative;
    text-align: center;
    border-radius: 5px;
    font-family: 'Chakra Petch', sans-serif;
    background-color: rgba(0, 0, 0, 0.527);
 }
  
 @keyframes neon {
    from {
        filter: drop-shadow(0 0 0 yellow)
    }
    to {
        filter: drop-shadow(0 0 50px yellow);
    }
 }
  
 .modal__text h2{
    padding-left: 30px;
    animation: neon 1s alternate infinite ease-in-out;
 }
  
 #btn__close{
    display: none;
 }
  
 #icone{
    font-size: 1rem;
    color: white;
 }
 




/* roberto */



.checker {
    width: 88px;
    height: 88px;
    border: 2px solid #d8cab3;
    border-radius: 100%;
    box-shadow: inset 0px 0px 15px 5px #fff;
}

.checkerUSA {
    background-image: url(../img/logoUSA.png);
    background-size: 88px;
}

.checkerURSS {
    background-image: url(../img/logoURSS.png);
    background-size: 88px;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-image: url(../img/background.png); 
}


/* roberto */
    



@media screen and (min-width: 750px){
    header{
        font-size: 24px;
    }

    #container{
        width: 662px;
        height: 548px;
    }

    .coluna{
        width: 96px;
        height: 548px;
    }

    .modalUSA{
        width: 500px;
        height: 278px;
    }
  
    .modal__text{
        width: 463px;
        top: 110px;
        font-size: 35px;
    }
  
    #icone{
        font-size: 2rem;
    }
 

}
