@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;500;700&display=swap');

:root{
    --color-white: #fff;
    --color-black: #000;
    --first-shadow-color: #9297d3;
    --color-gold: #ffd700;
    --positionUsaMobile: -250px;
    --positionUrssMobile: -250px;
    --positionUsaDesktop: -500px;
    --positionUrssDesktop: -500px;
    --next-playerbox-shadow-color: #cf737f;
}

html,body,div,header,section,h1,h2,h3,p,img,button{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-image: url(../img/background.png); 
    background-size: 100%;
}

/*Manoela*/
header{
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-family: 'Chakra Petch', sans-serif;
}

#container{
    width: 305px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    position: relative;
}

.coluna{
    width: 45px;
    height: 282px;
    display: flex;
    flex-direction: column-reverse;
    border: 4px solid #000000;
    border-radius: 6px;
    border: 4px solid var(--color-black);
    border-right: none;
    box-shadow: inset 0px 30px 5px 0px var(--first-shadow-color), 0 0 1.5em var(--color-gold);
}

.coluna:last-child{
    border-right: 4px solid var(--color-black);
}

.hidden{
    display: none;
}

.modalUSA, .modalURSS, .modal__empate{
    width: 280px;
    height: 180px;
    z-index: 2;
    top: 50%;
    left: 50%;
    position:absolute;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    box-shadow: inset 1px 1px 1px 1em var(--color-black), 1px 1px 2em red;
}

.img__modal{
    width: 250px;
    height: 150px;
    position: absolute;
    top: 15px;
    left: 15px;
}
  
.modal__close{
    margin: 18px;
    float: right;
    top: 0;
    right: 0;
    position: absolute;
}

#btn__one, #btn__two, #btn__three{
    display: none;
}
  
.icone{
    font-size: 1rem;
    color: var(--color-white);
}
 
.icone:hover{
    color: var(--color-gold);
    cursor: pointer;
}

.modal__text{
    width: 242px;
    font-size: 15px;
    color: var(--color-white);
    left: 20px;
    top: 78px;
    position: absolute;
    text-align: center;
    border-radius: 5px;
    font-family: 'Chakra Petch', sans-serif;
    background-color: rgba(0, 0, 0, 0.527);
}

@keyframes neon {
    from {
        filter: drop-shadow(0 0 0 var(--color-white))
    }
    to {
        filter: drop-shadow(0 0 100px var(--color-white));
    }
}
  
.modal__text h2{
    animation: neon 2s infinite ease-in-out;
}

.placar{
    font-size: 20PX;
    font-weight: 700;
    width: 320px;
    margin: 15px auto;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Chakra Petch', sans-serif;
}

.btn{
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

#reset__jogo, #reset__placar{
    border: none;
    width: 110px;
    padding: 8px 0px;
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.390);
    font-family: 'Chakra Petch', sans-serif;
}

#reset__jogo:hover, #reset__placar:hover{
    cursor: pointer;
    color: var(--color-white);
    background-color: var(--color-black);
}


/* roberto */

.checker {
    width: 38px;
    height: 38px;
    border: 2px solid #d8cab3;
    border-radius: 100%;
    box-shadow: inset 0px 0px 15px 2px #fff;     
}      



.usa {
    background-image: url(../img/logoUSA.png);
    background-size: 38px;
    position: relative;
    animation-name: dropDownUsa;
    animation-duration: 1s;
    animation-direction: normal;
}

.urss {
    background-image: url(../img/logoURSS.png);
    background-size: 38px;
    position: relative;
    animation-name: dropDownUrss;
    animation-duration: 1s;
    animation-direction: normal;
}

@keyframes dropDownUsa {
    0% {top: var(--positionUsaMobile)}
    100% {top: 0px}
}

@keyframes dropDownUrss {
    0% {top: var(--positionUrssMobile)}
    100% {top: 0px}
}

#nextContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    padding: 15px;
    border-radius: 8px;
    margin: 20px auto;
    font-family: 'Chakra Petch', sans-serif;
    box-shadow: 0px 0px 15px 15px var(--next-playerbox-shadow-color);
}

p#proximo {
    font-size: 25px;
    font-weight: 700; 
}

div#nextPlayer {
    margin-left: 10px;
    width: 80px;
    height: 80px;
}

div.flagUsa {
    background-image: url(../img/logoUSA.png);
    background-size: 80px;
}

div.flagUrss {
    background-image: url(../img/logoURSS.png);
    background-size: 80px;
    border-radius: 100%;
}

/* roberto */


/*MEDIA QUERIES*/
@media screen and (min-width: 800px){
    /*Manoela*/
    header{
        font-size: 24px;
    }

    #container{
        width: 662px;
        display: flex;
        justify-content: center;
    }

    .coluna{
        align-items: center;
        width: 70px;
        height: 400px;
    }

    .modalUSA, .modalURSS, .modal__empate{
        width: 460px;
        height: 278px;
    }

    .img__modal{
        width: 430px;
        height: 248px;
    }
    
  
    .modal__text{
        width: 420px;
        top: 110px;
        font-size: 35px;
    }

    .placar{
        width: 180px;
        justify-content: space-around;
    }
  
    .icone{
        font-size: 2rem;
        justify-content: space-around;
    }

    .btn{
       flex-direction: column;
    }

    #reset__jogo, #reset__placar{
        margin-top: 30px;
    }

    /* roberto */

    .checker {
        width: 55px;
        height: 55px;
        border: 2px solid #d8cab3;
        border-radius: 100%;
        box-shadow: inset 0px 0px 15px 5px #fff;       
    }

    .usa , .urss{
        background-size: 55px;
        background-position: center;
    }

    @keyframes dropDownUsa {
        0% {top: var(--positionUsaDesktop)}
        100% {top: 0px}
    }
    
    @keyframes dropDownUrss {
        0% {top: var(--positionUrssDesktop)}
        100% {top: 0px}
    }

    
    section {
        max-width: 800px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }

    #nextContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 395px;
        padding: 5px;            
    }

    div#nextPlayer {
        margin-top: 15px;
        margin-left: 0px;
    }


    /* roberto */
}
