@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;500;700&display=swap');

header{
    text-align: center;
    font-size: 18px;
    font-family: 'Chakra Petch', sans-serif;
}

#container{
    width: 305px;
    height: 252px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.coluna{
    display: flex;
    flex-direction: column-reverse;
    border: 4px solid black;
    border-right: none;
}

.coluna:last-child{
    border-right: 4px solid black;
}

.celula{
    width: 39px;
    height: 39px;
    margin: 0 auto;
    border-bottom: 4px solid black;
}

.celula:first-child{
    border-bottom: none;
}

@media screen and (min-width: 750px){
    header{
        font-size: 24px;
    }

    #container{
        width: 644px;
        height: 552px;
    }

    .celula{
        width: 90px;
        height: 90px;
    }
}